form {
  margin: 8px 0;
}

label {
  min-width: 36px;
  margin-right: 12px;
  display: inline-block;
  margin-bottom: 8px;
}

.edited {
  color: #eeeeee;
  background-color: cadetblue;
  margin: 0 0 12px 0;
  padding: 3px 10px;
  max-width: 248px;
}

input, button, option {
    font-family: verdana;
    font-size: 12px;
}

input[type=text] {
    margin-left: 12px
}

.entry-form {
  display: inline-block;
  width: 120px;
  margin-bottom: 8px;
}
